<button class="btn-danger" id="btnAdd" (click)="changStateAdd()"data-toggle="modal" data-backdrop="false"data-target="#myModal">add</button>
<!-- <form id="search" class="form-inline waves-light" mdbWavesEffect>
  <div class="md-form mt-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search"  (change)="SearchResults()" >
  </div>
</form> -->
<input id="search" type="text" placeholder="enter name of cake"
     formControlName="name"  (change)="SearchResults()"/>
<app-from-add *ngIf="flagAdd" id='fromAdd' (clicked)="closeFormAdd()"></app-from-add>
<app-from-edit *ngIf="flagEdit" [product]="prod"  [productEzer]="prod" (clicked)="closeFormEdit()"> </app-from-edit>

<div class="table-responsive" >
 
  <table class="table table-sm" >
    <thead>
      <tr id='headTr'>
       <th [innerText]="'title'"></th>
       <th [innerText]="'price'"></th>
       <th [innerText]="'option'"></th>
      </tr>
  
    </thead>
    
     <tbody >
      
      <tr *ngFor="let p of games$ | async" > 
        <td >{{p.title}}</td>
        <td >{{p.price | currency}}</td>
        <td >{{p.desc }}</td>
        <td>
          <button [innerText]="'edit'"  class="btn-danger" (click)="changStateEdit(p)" ></button>
          <button [innerText]="'delete'"  class="btn-danger" (click)="deleteProduct(p)"></button>

        </td>
        
      </tr>
      
    </tbody>
    
  </table>
  
</div>


